

@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);


body{
  font-family: Michroma, serif;
  background: linear-gradient(90deg, #040bd2 4%, #0a0909 97%);
}
p{
  color: aquamarine;

}

.nav-link{
  color: aquamarine;
}

.navbar-nav .nav-link.active{
  color: rgb(67, 70, 71);
}
.navbar-brand img{
  width: 100px;
}
.navbar-toggler{
  background-color: antiquewhite;
}

.sidebar{
  color: aquamarine;
  background: linear-gradient(270deg, #040bd2 4%, #0a0909 97%);


}
.card{
  background: linear-gradient(90deg, #040bd2 4%, #0a0909 97%);
color: aquamarine;
}

.card a{
  text-decoration: none;
color: aquamarine;

}
.slide-text,
.footer-text{
color: aquamarine;
margin: auto auto;

}
footer,
.btn-outline-primary{
  background: linear-gradient(270deg, #040bd2 4%, #0a0909 97%);
}
.media-links{
  display:flex ;
  justify-content: center;
  align-items: center;
}
.call-animation{
  animation: myAnim 2s ease 0s infinite normal forwards;

}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width:755px){
  .carousel-indicators{
    display: none;
  }
}


